/* https://fontlibrary.org/en/font/hk-grotesk */
@import url(https://fontlibrary.org/face/hk-grotesk);

body {
  font-family: 'HKGroteskRegular';
  font-weight: normal;
  font-style: normal;
  background-color: #FFCD33;
}

.logo {
   position: absolute;
   padding-right: 2em;
   border-right: #FFCD33 20px solid;
   height: 8em;
   left: 8em;
   top: 13em;
}

.logo img {
  width: 8em;
}

.remark-slide-scaler {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.output code {
  font-size: 0.9em;
}

.javascript {
  font-size: 1.5em;
}

.small code {
  font-size: 0.4em;
}

.align_left {
  text-align: left;
}

.fit_width img {
  width: 100%;
}


.reference {
  font-size: 0.7em;
}

.remark-container {
  background-color: #FFCD33;
}

.float_left pre {
  float: left;
}

.clear_both pre {
  clear:both;
}

h1, h2, h3 {
  font-family: 'HKGroteskBold';
  font-style: normal;
  font-weight: normal;
}

.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

.black {
  background-color: #000;
}

.white { color: #fff;}

code.javascript {
  text-align: left;
  padding: 2em 0em;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}

.left-column-skinny {
  color: #777;
  width: 10%;
  height: 92%;
  float: left;
}

.right-column-fat {
  width: 90%;
  float: right;
  padding-top: 1em;
}

.quote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  height: 80%;
  margin: 1.5em 10px;
  line-height: 2.5em;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.quote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.quote p {
  display: inline;
}

.quote {
  padding:1em;
  font-style: italic;
  color: #222;
}

.footnote {
  font-size: 0.7em;
  position: absolute;
  bottom: 3em;
}

a, .left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}

.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

#1979-2005 {
  text-transform: uppercase;
  font-weight: bolder;
}

ul {
  list-style-type: none;
}

.ten img {
  width: 10%;
}

.twenty img {
  width: 20%;
}

.thirty img {
  width: 30%;
}

.fourty img {
  width: 40%;
}

.fifty img {
  width: 50%;
}

.sixty img {
  width: 60%;
}
.seventy img {
  width: 70%;
}

.eighty img {
  width: 80%;
}

.ninety img {
  width: 90%;
}

.ninetyfive img {
  width: 95%;
}

.onehundred img {
  width: 100%;
}


